reportlab
openai
faiss-cpu
numpy
python-dotenv
fastapi
uvicorn[standard]
pydantic
tenacity
rapidfuzz
pinecone
pydantic-extra-types
phonenumbers
email-validator
firebase-admin
google-cloud-firestore
google-cloud-storage
